@font-face {
	font-family: "gara";
	src: url("../assets/fonts/garamond-bold.ttf")
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: gara, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
body {
	background-image: url("../assets/images/0001.jpg");
}
.btn {
	background-color: #DFCB00;
	color: black;
}
a {
	color: black;
}
hr {
	border: 2px solid #dfcb00;
	margin: 0 auto;
}
img {
	  max-width: 100%;
  height: auto;
		object-fit: cover;
}
.navbar {
	background-color: white;
	border-bottom: solid 2px #DFCB00;
	font-size: 1.6em;
	letter-spacing: 0.1em;
	height: 70px;
}
.navbar a {
	margin-right: 40px;
}
.navbar-toggler {
	baground-color: white;
	color: white;
	
}
#navbarSupportedContent {
	background-color: white;
}
.carousel-caption {
	background-color: rgba(0,0,0,0.60);
	bottom: 40%;
}
.carousel-inner {
	width: 100%;
	max-height: 80%;
	object-fit: contain;
	margin-top: 2%;
}
.carousel-control-prev-icon {
 background-image: url("../assets/images/arrow-left.png") !important;
	height: 6em;
	width: 6em;
}

.carousel-control-next-icon {
  background-image: url("../assets/images/arrow-right.png") !important;
	height: 6em;
	width: 6em;
	opacity: 100%;
}

/*modal window when read more is clicked*/
.modal-content {
	padding: 20px;
}
/*MAIN*/
.nosorigines {
	width: 50%;
}
.line {
	width: 93%;
}


/*accordion*/
#headingOne, #headingTwo, #headingThree {
	background-color: #dfcb00;
	border: 1px solid black;
		border-radius: 10px;
}
/**************FOOTER**************************/
footer {
	background-color: white;
}
.form-group {
	margin: 0px;
	font-size: 0.9rem;
}
.form-group input, .form-group textarea {
	margin: 0 auto;
	height:60%;
	background-color: rgba(205,205,205,0.50);
	border: 1px solid black;
}

svg {
	width: 60px;
	padding: 5px;
}

/*container google maps*/
.map-responsive {
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}

.map-responsive iframe {
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
/*// Small devices (landscape phones, 576px and up)
*/@media (max-width: 576px) { 
  html {
    font-size: 1.4rem;
  }
	.carousel img {
	object-fit: cover;
  }
}

/*// Medium devices (tablets, 768px and up)
*/@media (max-width: 768px) { 
  html {
    font-size: 1.4rem;
  }
	.nosorigines {
		width: 100%;
	}
}

/*// Large devices (desktops, 992px and up)
*/@media (max-width: 992px) {   
	html {
    font-size: 1.2rem;
  }
		nav img {
		width: 100%;
  max-width: 200px;
  height: auto;
	}
	.carousel-caption {
	bottom: 20%;
}
}

/*// Extra large devices (large desktops, 1200px and up)
*/@media (min-width: 1200px) {   
	html {
    font-size: 1.2rem;
  }
}